.investContainer {
      width: 99%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(19, 29, 51, 0.5) -5.48%, #131D33 82.44%), url(/src/assets/Pages/investbg.png);
    position: relative;
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 35px;
    flex-direction: column;
    min-height: 600px;

}
.transactContainer{
      width: 99%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(19, 29, 51, 0.5) -5.48%, #131D33 82.44%), url(/src/assets/Pages/transact.png);
    position: relative;
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 35px;
    flex-direction: column;
    min-height: 600px;
}
.PrefoContainer{
      width: 99%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(19, 29, 51, 0.5) -5.48%, #131D33 82.44%), url(/src/assets/Pages/Prefo.png);
    position: relative;
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 35px;
    flex-direction: column;
    min-height: 600px;
}
.pagebannerSection {
  margin-top: 0px;
}
.pagebannerheadingBox {
  color: #fff;
  text-align: center;
  font-family: AvenirHeavy;
  width: 859px;
}
.pagebannerheadingBox h1 {
font-family: 'AvenirBook';
    font-weight: 500;
    font-size: 45px;
    line-height: 57px;
    text-align: center;

}
.pagebannersubtitle{
    font-family: 'AvenirBook';
    font-weight: 350;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    margin-top: 14px;
    padding: 0px 85px;
}
.bannerheadingBox .bannerSubtext {
  font-family: AvenirBook;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  text-align: center;
  margin-top: 4px;
}
.pageHeroSection{
  max-width: 80%;
    margin: 0 auto;
    margin-top: -100px;
   background: #FAFAFA;
    z-index: 1;
    position: relative;
    width: 1250px;
    opacity: 1;
    border-radius: 20px;
        padding: 84px;


}
.headingsection{
  max-width: 749px;
    margin: 12px auto;
}
.headingsection h2{
  font-family: 'AvenirHeavy';
    font-weight: 800;
    font-size: 33px;
    line-height: 46px;
}
.headingsection p{
font-family: 'AvenirRegular';
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-top: 16px;
    color: #4A4A4A;



}
.highlightPoints{
     margin-top: 55px;
    display: flex;
    justify-content: space-between;
    padding: 0 26px;
}
.defaultImgBox{
height: 375px;
    opacity: 1;
    border-radius: 20px;
    display: flex;
    background: #EBEBEB;
    justify-content: center;
    align-items: center;
    width: 47%;
}
.points{
  width: 46%;
}
.points .point{
  margin-bottom: 20px;
}
.points .point h3{
      font-family: 'AvenirHeavy';
    font-weight: 800;
    font-size: 23px;
    line-height: 38px;
}
.points .point p{
     font-family: 'AvenirBook';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}