.FeatureSection {
  width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: linear-gradient(180deg, rgba(0, 63, 51, 0) 25%, #131d33 34%),
    url(/src/assets/Home/featuresBackground.png);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  flex-direction: column;
}

.featureCard {
  display: flex;
  gap: 55px;
}
.featureBox {
  color: #fff;
  font-family: "AvenirHeavy";
  width: 330px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.9) 55.77%
  );
  padding: 35px 24px;
  opacity: 1;
  border-width: 1px;
  border-radius: 20px;
  border: 1px solid #00000005;
  display: flex;
  flex-direction: column;
  padding-left: 33px;
}
.featureBox h3 {
  font-size: 30px;
  font-family: "AvenirHeavy";
  color: #000;
  margin: 15px 0;
  margin-top: 30px;
}
.featureBox p {
  font-family: "AvenirBook";
  font-weight: 100;
  font-size: 15px;
  line-height: 23px;
  color: #000;
  margin-bottom: 30px;
}
.featureBox img {
  width: 62px;
  height: 62px;
}
.featureCta {
  width: 184px;
  height: 38px;
  top: 337px;
  left: 40px;
  opacity: 1;
  border-width: 1px;
  border-radius: 100px;
  padding-top: 12px;
  padding-right: 18px;
  padding-bottom: 12px;
  padding-left: 18px;
  gap: 10px;
  background: #4a4a4a;
  border: 1px solid #505f7473;
  font-family: "Inter";
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  cursor: pointer;
}
.featureBox a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.featureBox a img {
  width: 30px;
  height: 30px;
}

.dashboardSection {
  display: flex;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/src/assets/Home/Maskgroup.svg);
  padding: 89px 90px;
  align-items: center;
  gap: 65px;
}
.dashboardSection img {
  width: 59%;
  object-fit: contain;
}

.deshboardContant {
  width: 34%;
}
.deshboardContant h2 {
  font-family: "AvenirHeavy";
  font-weight: 800;
  font-size: 33px;
  line-height: 47px;
  color: #fff;
}
.deshboardContant p {
  font-family: "AvenirBook";
  font-weight: 200;
  font-size: 13px;
  line-height: 23px;
  margin-top: 20px;
  color: #fff;
}
.deshboardContant .bannerButton {
  background-color: #505f7473;
  color: #fff;
  opacity: 1;
  border-radius: 100px;
  padding-top: 15px;
  padding-right: 60px;
  padding-bottom: 15px;
  padding-left: 60px;
  gap: 10px;
  border: 1px solid #505f7473;
  margin-top: 31px;
  cursor: pointer;
}
