.footer {
  background: #131d33;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 56px 100px;
  padding-top: 96px;
}
.logoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 77px;
  padding-left: 25px;
}
.sitelogo p {
  font-family: "AvenirBook";
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
}
.contactinfo p {
  font-family: "AvenirBook";
  font-weight: 400;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 53px;
}
.contactinfo a {
  font-family: "AvenirBook";
  font-weight: 300;
  font-size: 23px;
  line-height: 43px;
  color: #fff;
  text-decoration: none;
}
.linksSection {
  display: flex;
  flex-direction: column;
  gap: 26px;
}
.pagesLinks ul {
  list-style: none;
  color: #fff;
  text-align: end;
}
.pagesLinks ul li a {
  color: #fff;
  font-family: "AvenirBook";
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: right;
  text-decoration: none;
}
.socialLinks ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 23px;
}
.copyrights.footer {
  padding: 27px 100px;
  justify-content: center;
      padding-top: 0;
}
.copyrights.footer p {
  width: 100%;
  text-align: center;
  padding-top: 32px;
  border-top: 1px solid #ffffff40;
  font-family: "AvenirBook";
  font-weight: 400;
  font-size: 12px;
  line-height: 10px;
  text-transform: uppercase;
  color: #ffffffbf;
  
}
