header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: Inter;
  max-width: 1700px;
    margin: 0 auto;
}
.topbarContainer {
  padding: 10px 0;
  background-color: #fff;
}
.topbar {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 20px;
  padding: 0 16px;
  font-weight: 500;
  font-style: Medium;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}
.topbar a {
  text-decoration: none;
  color: #4a4a4a;
}
.logo img{
  margin-left: 23px;
    width: 84px;
}
.myFollo {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 24px;
}
.myFollo p {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
  color: #ffffff;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  cursor: pointer;
}
.subDownLinks {
  position: absolute;
  flex-direction: column;
  top: 29px;
  left: 0px;
  display: flex;
  list-style: none;
  gap: 5px;
  opacity: 1;
  border-width: 1px;
  border-radius: 11px;
  background: #ffffff14;
  border: 1px solid #c9700a26;
  width: 123px;
  align-items: flex-start;
}
.subDownLinks a{
      text-decoration: none;
    color: #ffffff;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    padding: 5px 8px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 30px;
}
.navlinks {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  opacity: 1;
  border-width: 1px;
  border-radius: 100px;
  background: #ffffff14;
  border: 1px solid #c9700a26;
  width: 565px;
  height: 43px;
  justify-content: space-between;
}
.navlinks a {
  text-decoration: none;
  color: #ffffff;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
   border-radius: 100px;
    padding-top: 12px;
    padding-right: 36px;
    padding-bottom: 11px;
    padding-left: 29px;
    gap: 10px;
    margin-left: 2px;
}
.navlinks a:hover{
    border-radius: 100px;
    padding-top: 12px;
    padding-right: 36px;
    padding-bottom: 11px;
    padding-left: 29px;
    background: #F3F3F34D;
    gap: 10px;
    margin-left: 2px;
    transition: all 0.1s ease-in-out;
}
.navlinks a.active{
    border-radius: 100px;
    padding-top: 12px;
    padding-right: 36px;
    padding-bottom: 11px;
    padding-left: 29px;
    background: #F3F3F34D;
    gap: 10px;
    margin-left: 2px;
    transition: all 0.1s ease-in-out;
}
.requestToTalk {
  width: 130px;
  height: 40px;
  background: #ffffff;
  border-radius: 100px;
  color: #4a4a4a;
  border: none;
  cursor: pointer;
}
