.testimonialSection {
  background: linear-gradient(180deg, #131d33 0%, #435170 50.48%, #ffffff 100%);
  display: flex;
  padding: 140px;
  gap: 30px;
  justify-content: center;
  padding-bottom: 70px;
}
.testimonial {
  width: 337px;
  opacity: 1;
  border-width: 1px;
  border-radius: 20px;
  gap: 45px;
  padding: 30px 26px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.09) 0%,
    rgba(153, 153, 153, 0.08) 100%
  );
  border: 1px solid #ffffff29;
  box-shadow: 0px 0px 6.3px 2px #ffffff08;

  backdrop-filter: blur(4px);
}
.invertedcoma img {
  width: 36px;
  height: 30px;
}
.testimonialText {
  font-family: "AvenirBook";
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-top: 31px;
}
.Author {
  display: flex;
  margin-top: 30px;
  align-items: center;
  gap: 16px;
}
.Author img {
  width: 62px;
  height: 60px;
}
.testimonialAuthor {
  font-family: "AvenirBook";
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.testimonialPosition {
  font-family: "AvenirRegular";
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  font-style: oblique;
  margin-top: 6px;
  color: #fff;
}
.band1List {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin: 0 auto;
    justify-content: space-evenly;
   gap: 36px
}

.bandItem {
    width: 100px;
    height: 43px;
}
.bandItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
