*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1750px;
    margin: 0 auto;
}

.navlinks a.active{
    border-radius: 100px;
    padding-top: 12px;
    padding-right: 36px;
    padding-bottom: 11px;
    padding-left: 29px;
    background: #F3F3F34D;
    gap: 10px;
    margin-left: 2px;
    transition: all 0.1s ease-in-out;
}
@font-face {
    font-family: AvenirHeavy;
    src: url("/assets/Fonts/AvenirHeavy.ttf");
}
@font-face {
    font-family: AvenirBook;
    src: url("/assets/Fonts/AvenirBook.ttf");
}
@font-face {
    font-family: AvenirRegular;
    src: url("/assets/Fonts/AvenirRegular.ttf");
}
@font-face {
    font-family: Inter;
    src: url("/assets/Fonts/Inter.ttc");
}