*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1600px;
    margin: 0 auto;
}
@font-face {
    font-family: AvenirHeavy;
    src: url("@/assets/Fonts/AvenirHeavy.ttf");
}
@font-face {
    font-family: AvenirBook;
    src: url("@/assets/Fonts/AvenirBook.ttf");
}
@font-face {
    font-family: AvenirRegular;
    src: url("@/assets/Fonts/AvenirRegular.ttf");
}
@font-face {
    font-family: Inter;
    src: url("@/assets/Fonts/Inter.ttc");
}